name: Flutter PR

on:
  pull_request:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Application/Mobile/zameny_flutter
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: "12.x"

      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      
      - run: echo $API_DATA | base64 -d > lib/secrets.dart
        env:
          API_DATA: ${{ secrets.API_DATA }}
      - run: flutter pub get
      # - run: flutter build apk --release --split-per-abi --build-name=1.0.${{ github.run_number }}_Github --build-number=${{ github.run_number }}
      # - run: flutter build apk --release --build-name=1.0.${{ github.run_number }}_Github --build-number=${{ github.run_number }}

      # - name: Push to Releases
      #   uses: ncipollo/release-action@v1
      #   with:
      #     artifacts: |
      #       Application/Mobile/zameny_flutter/build/app/outputs/flutter-apk/*.apk
      #     tag: ${{ github.run_number }}
      #     token: ${{ secrets.TOKEN }}
          
      - name: Build
        run: flutter build web --release --web-renderer canvaskit
  
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: Application/Mobile/zameny_flutter/build/web
          force_orphan: true
          user_name: 'github-ci[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_message: 'Publish to gh-pages'

